<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="start ">
                <a href="/#/">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/#/library">
                    <i class="icon-layers"></i>
                    <span class="title">Library</span>
                    <span class="arrow "></span>
                </a>
            </li>

            <li>
                <a href="/#/users-admin">
                    <i class="icon-users"></i>
                    <span class="title">Users admin</span>
                </a>
            </li>

            <li>
                <a href="/#/system-settings">
                    <i class="icon-settings"></i>
                    <span class="title">System settings</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#/editpage">
                            <i class="icon-pencil"></i> Sub menu 1</a>
                    </li>
                    <li>
                        <a href="#/dragable">
                            <i class="icon-grid"></i>  Sub menu 2</a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-puzzle"></i>
                            <span class="title"> Sub menu 3</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#/ui-bootstrap">
                                    <i class="icon-grid"></i> Sub menu 4</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
