$color-checkbox-bg: #45B6af; // Light blue

.checkbox {
  padding: 1rem;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

.cb-check {
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #bbb;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  margin-right: 0.5rem;
  position: relative;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
  &:after {
    content: '';
    padding: 0.1em 0.3em;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(-90deg) translate(-7%, -45%) scale(0);
    -moz-transform: rotate(-90deg) translate(-7%, -45%) scale(0);
    -o-transform: rotate(-90deg) translate(-7%, -45%) scale(0);
    -ms-transform: rotate(-90deg) translate(-7%, -45%) scale(0);
    transform: rotate(-90deg) translate(-7%, -45%) scale(0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    transition: transform 0.3s;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
}

input[type="checkbox"]:checked + .cb-check {
  background: $color-checkbox-bg;
  border: 1px solid darken($color-checkbox-bg, 5%);
  &:after {
    -webkit-transform: rotate(-45deg) translate(-14%, -116%) scale(1);
    -moz-transform: rotate(-45deg) translate(-14%, -116%) scale(1);
    -o-transform: rotate(-45deg) translate(-14%, -116%) scale(1);
    -ms-transform: rotate(-45deg) translate(-14%, -116%) scale(1);
    transform: rotate(-45deg) translate(-14%, -116%) scale(1);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
