<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Dashboard page
    <small>Work in progress</small>
</h3>

</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <p>Here we will put the taabs as we can see in the wireframes </p>
                <p>
                    <a href="http://k5ff42.axshare.com" target="_blank" class="dropdown-toggle" >
                        <i class="fa fa-cubes"> </i>
                        App Prototype
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
