<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
    Library
    <small>Work in progress</small>
</h3>

</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                         </span>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-3">
                    <button class="btn btn-primary" type="button">
                        Add element
                    </button>
                </div>
                <br/>
                <hr/>

                <div class="col-md-9">
                    <ul>
                        <li>
                            <p>Element name</p>
                            <p><span>tag</span> <span>tag</span> <span>tag</span></p>
                            <p>Edit button</p>
                        </li>
                        <li>
                            <p>Element name</p>
                            <p><span>tag</span> <span>tag</span> <span>tag</span></p>
                            <p>Edit button</p>
                        </li>
                        <li>
                            <p>Element name</p>
                            <p><span>tag</span> <span>tag</span> <span>tag</span></p>
                            <p>Edit button</p>
                        </li>
                        <li>
                            <p>Element name</p>
                            <p><span>tag</span> <span>tag</span> <span>tag</span></p>
                            <p>Edit button</p>
                        </li>
                        <li>
                            <p>Element name</p>
                            <p><span>tag</span> <span>tag</span> <span>tag</span></p>
                            <p>Edit button</p>
                        </li>
                        <li>
                            <p>Element name</p>
                            <p><span>tag</span><span>tag</span><span>tag</span></p>
                            <p>Edit button</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Refine by</h3>
                    <ul>
                        <li>Types (Number)
                            <ul>
                                <li>
                                    <input type="checkbox"/> Teplate (Number)
                                <li>
                                    <input type="checkbox"/> Books (Number)
                                </li>
                                <li>...</li>
                            </ul>
                        </li>
                        <li>Types (Number)
                            <ul>
                                <li>
                                    <input type="checkbox"/> Others (Number)
                                <li>
                                    <input type="checkbox"/> Others (Number)
                                </li>
                                <li>...</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
