
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="portlet light">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                  <h1>Public view</h1>
                  <p>Go to login <a href="/#/login"></a></p>
                  <p><a class="btn btn-primary btn-lg" href="/#/login" role="button">Go to login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->
