html  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    //background-color: #004254;
    overflow: hidden;

}
/*
* Page Loading
*/
.page-on-load {
    background: #fefefe;

    .page-header,
    .page-container,
    .page-footer,
    > .clearfix {
        display: none;
        transition: all 2s;
    }
}

.hide {
  display: none;
}

a {
  cursor: pointer;
}

.main-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    //background-color: #004254;
    overflow: hidden;
}



